rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
  	function isLoggedIn() {
      return request.auth != null;
    }
    function isArticleAuthor(articleId) {
      let article = get(/databases/$(database)/documents/articles/$(articleId));
      return article.data.author == request.auth.uid;
    }
    function isVerified(uid) {
      let user = get(/databases/$(database)/documents/users/$(uid));
      return user.data.verified == true;
    }
    function isAdmin(uid) {
      let user = get(/databases/$(database)/documents/users/$(uid));
      return user.data.role == "admin";
    }
    function isStudent(uid) {
      let user = get(/databases/$(database)/documents/users/$(uid));
      return user.data.role == "student";
    }
    match /users/{userID} {
      allow read: if isLoggedIn() && isVerified(userID);
      allow write: if true;
    }

    match /{document=**} {
      allow read, write: if
          request.time < timestamp.date(2021, 10, 18);
    }
  }
}