rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
  	function isLoggedIn() {
      return request.auth != null;
    }
    function isSelf(uid){
      return request.auth == uid;
    }
    function isArticleAuthor(articleId) {
      let article = get(/databases/$(database)/documents/articles/$(articleId));
      return article.data.author == request.auth.uid;
    }
    function isVerified() {
        return request.auth.token.verified == true;
    }
    function isAdmin(){
      return request.auth.token.role == "admin";
    }

    match /articles/{articleId} {
      allow read: if true;
      allow write: if isLoggedIn() && isVerified() && isArticleAuthor(articleId);
    }
    
    match /users/{uid} {
      allow get: if isSelf(uid) || isAdmin();
      allow list: if isLoggedIn() && isVerified() && isAdmin();
      allow create: if true;
      allow update, delete: if isLoggedIn() && isVerified() && isAdmin();
    }

    match /profiles/{uid} {
      allow read: if isLoggedIn() && isVerified();
      allow write: if isLoggedIn() && isVerified() && isSelf(uid);
    }
  }
}